{% extends "base.html" %}
{% load static %}
{% block page_content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
        <h2>Portfolio Details</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">
        <div class="portfolio-details-container">

          <div class="{% static 'owl-carousel portfolio-details-carouse' %}">
            <img src="{{ details.detailphoto1.url }}" class="img-fluid" alt="">
            <img src="{{ details.detailphoto2.url }}" class="img-fluid" alt="">
            <img src="{{ details.detailphoto3.url }}" class="img-fluid" alt="">
          </div>

        </div>

        <div class="portfolio-description">
          <h2>{{ details.name }}</h2>
          <p>
            {{ details.description }}
          </p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock page_content %}